.panel.panel-default.nested-fields
  .panel-heading
    %h2 Service
    = link_to_remove_association "Remove Service", f, class: "btn btn-danger"
  .panel-body
    .row.service-field
      .col-lg-12
        .row
          .col-lg-12
            = f.text_field :path
        .row
          .col-lg-12
            = f.text_field :name
        #credentials.row
          .col-lg-12
            %hr
            %h2 Credentials
            = f.fields_for :credentials do |cred_f|
              = render partial: "credentials/credential_fields", locals: {f: cred_f}
            .links
              = link_to_add_association 'Add Credential Set', f, :credentials, partial: "credentials/credential_fields", class: "btn btn-success"
