.panel.panel-default
  .panel-heading
    %h1 Nodes
    = link_to 'New Node', new_node_path, class: "btn btn-success"
  .panel-body
    %table.table.table-striped
      %thead
        %tr
          %th Address
          %th Service Count
          %th Last Reached
          %th Actions

      %tbody
        - @nodes.each do |node|
          %tr
            %td= node.address
            %td= node.service_count
            %td
            %td
              = link_to 'Show', node, class: "btn btn-default"
              = link_to 'Edit', edit_node_path(node), class: "btn btn-default"
              = link_to 'Remove', node, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"
