= form_for @credential do |f|
  - if @credential.errors.any?
    #error_explanation
      %h2= "#{pluralize(@credential.errors.count, "error")} prohibited this credential from being saved:"
      %ul
        - @credential.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :service_id
    = f.number_field :service_id
  .field
    = f.label :public_key
    = f.text_area :public_key
  .field
    = f.label :private_key
    = f.text_area :private_key
  .field
    = f.label :identifier
    = f.text_area :identifier
  .actions
    = f.submit 'Save'
