%p#notice= notice

%p
  %b Service:
  = @credential.service_id
%p
  %b Public key:
  = @credential.public_key
%p
  %b Private key:
  = @credential.private_key
%p
  %b Identifier:
  = @credential.identifier

= link_to 'Edit', edit_credential_path(@credential)
\|
= link_to 'Back', credentials_path
